<?xml version="1.0"?>
<ruleset name="Coinsnap for WooCommerce">
<description>WordPress Coding Standards for the Coinsnap for WooCommerce plugin.</description>

<arg name="extensions" value="php"/>
<arg name="basepath" value="."/>

<file>./</file>

<exclude-pattern>*/vendor/*</exclude-pattern>
<exclude-pattern>*/.git/*</exclude-pattern>
<exclude-pattern>*/.github/*</exclude-pattern>
<exclude-pattern>*/.wordpress-org/*</exclude-pattern>

<rule ref="WordPress"/>
<config name="minimum_supported_wp_version" value="5.8"/>
</ruleset>
