includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 3
  paths:
    - coinsnap-for-woocommerce.php
    - includes
    - library
  bootstrapFiles:
    - vendor/autoload.php
  tmpDir: var/phpstan
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Unsafe usage of new static\(\)#'
